<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nanfeng.mapper.ScoreMapper">

    <resultMap id="BaseResultMap" type="com.nanfeng.pojo.Score">
            <result property="sId" column="s_id" jdbcType="VARCHAR"/>
            <result property="cId" column="c_id" jdbcType="INTEGER"/>
            <result property="score" column="score" jdbcType="INTEGER"/>
            <result property="averageScore" column="average_score" jdbcType="INTEGER"/>
            <result property="examScore" column="exam_score" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        s_id,c_id,score,
        average_score,exam_score
    </sql>
</mapper>
